.header {
  background: var(--gray-800);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem 0;

  img {
    height: 2rem;
  }

  p {
    font-size: 1.65rem;
    font-weight: 700;
  }
}